<div class="layout">
  <div class="left-menu">
    <img class="logo" src="./assets/Logo-menu.svg" alt="logo">
    <div class="menu-item">
      <a href="#">
        <i class="icon-dashboard"></i>
        DashBoard
      </a>
    </div>
  </div>
  <div class="right-menu">
      <div class="header">
        <div class="search-block">
          <input class="search" type="text" placeholder="search">
          <i class="icon-search "></i>

        </div>
        <div class="logout" (click)="logout()">
          logout
        </div>
      </div>
  </div>
</div>
